version: '3.8'

services:
  renderer:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./output:/app/output
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
      - PUPPETEER_ARGS=--no-sandbox,--disable-setuid-sandbox,--disable-dev-shm-usage
